.header {
  height: 3rem;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #fff;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;

  &__icon {
    height: 100%;

    &--right {
      margin-left: auto;
    }
  }
}
