.playground {
  display: flex;
  height: calc(100% - 3rem);
}

.playground-header {
  height: 3rem;
  padding: 0 0.25rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 1;

  &--preview {
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0 0.5rem;
    font-size: 1.25rem;
  }
}

.tab {
  height: 100%;
  border: solid transparent;
  border-width: 0.125rem 0;
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
  gap: 0.25rem;
  transition: border-color 0.2s ease;
  cursor: pointer;

  &--active {
    border-bottom-color: #ffcc3d;
  }
}

.playground-newtab {
  padding: 0.5em 0.25rem;
  font-size: 1.25rem;
}

.playground-format {
  margin-left: auto;
  padding: 0.25rem;
  font-size: 1.5rem;
}
