.preview {
  flex: 1;
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  transition: visibility 0.2s, opacity 0.2s ease;

  &__iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  &__error {
    position: relative;
    margin: auto;
    max-width: calc(100% - 2rem);
    max-height: calc(100% - 2rem);
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 100vmin rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.2s, opacity 0.2s ease;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }

  .playground__mobile-switcher-input:checked ~ .playground__content & {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    transition: none;
    opacity: 1;
    visibility: visible;
  }
}
