@import './icons.scss';

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

svg,
img {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  color: #222;
}
